.current {
    color: green;
}

.series-links {
    font-style: italic;
    background-color: lightgray;

    :first-child {
        margin-top: 0px;
    }
    :last-child {
        margin-bottom: 0px;
    }
    padding: 6px;

    h3 {
        margin-bottom: 6px;
    }
    ul {
        margin-top: 0px;
    }
}

.cited-references {
    ol {
        // numbers already included as part of bibliography when using numbered citations
        list-style-type: none;
        padding-left: 25px;
    }
}

.citation {
    // don't underline in-text citation number links, and shrink the displayed citation number
    text-decoration: none;
    font-size: small;
}

.post-container {
    max-width: 650px;
    margin: 0 auto;

    h1 {
        text-align: center;
    }
}
