---
layout: default
---
<div class="post-container">
<h1>{{ page.title }}</h1>

{% if page.series_title %}
  {% include series_links.html %}
{% endif %}

{% unless page.hide_date %}
<p>{{ page.date | date_to_string }}</p>
{% endunless %}

{{ content }}

{% capture ref_count%}{% bibliography_count --cited_in_order %}{% endcapture %}
{% if ref_count != "0" %}
<div class="cited-references">
<h2 id="references">References</h2>
{% bibliography --cited_in_order %}
</div>
{% endif %}

{% unless page.hide_tags %}
{% include tags.html %}
{% endunless %}
</div>
